/*main.scss*/

/******************************
* 初期設定
******************************/
body{
    color:#060606;
    font-size: 16px;
    background-color: $mainColor;
    font-family: $fontType;
}

a{
    text-decoration: none;
    color: #060606;
}

body, header, footer, main, section, p, ul, li{
    margin: 10px;
    padding: 10px;
    @include mq('max','md') {
        margin: 5px;
        padding: 5px;
    }
}

h1,h2,h3{
    font-family: $fontType;
}

p{
    font-family: normal,sans-serif;
    line-height: 1.5em;
    @include mq('max','md') {
    }
}
