@charset "UTF-8";
/************************
* 初期設定
************************/
body {
  font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

/************************
* header
************************/
.header {
  position: relative;
  width: 100%;
}
.header__contents {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .header__contents {
    justify-content: space-around;
  }
}
.header__contents--icon {
  display: flex;
  align-items: center;
  width: 120px;
}
@media screen and (max-width: 480px) {
  .header__contents--icon {
    display: none;
  }
}
.header__contents--icon img {
  width: 100%;
}
.header__contents--icon a {
  display: block;
}
@media screen and (max-width: 480px) {
  .header__contents--icon a {
    display: none;
  }
}
.header__contents--navi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contents--navi li {
  height: 100%;
  padding: 30px 10px;
}
.header__contents--navi a {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .header__contents--navi a {
    font-size: 12px;
  }
}
.header__image {
  height: 800px;
  background: url("../img/mv.jpg") no-repeat center/cover;
  position: relative;
}
@media screen and (max-width: 480px) {
  .header__image {
    height: 120vh;
  }
}
.header__image--logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

/************************
* main
************************/
.main {
  width: 100%;
}
.main__philosophy {
  display: flex;
  height: 700px;
  background-color: #242424;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .main__philosophy {
    height: 200vh;
    flex-direction: column;
  }
}
.main__philosophy--text {
  margin: auto;
}
@media screen and (max-width: 480px) {
  .main__philosophy--text {
    margin: 60px auto;
  }
}
.main__philosophy--text h1 {
  margin: 40px 10px;
  font-size: 25px;
}
@media screen and (max-width: 480px) {
  .main__philosophy--text h1 {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }
}
.main__philosophy--text p {
  margin: 40px 10px;
  line-height: 1.5em;
}
@media screen and (max-width: 480px) {
  .main__philosophy--text p {
    font-size: 12px;
  }
}
.main__philosophy--text .button {
  margin-left: 0;
  text-align: left;
  border: 1px solid #fff;
}
@media screen and (max-width: 480px) {
  .main__philosophy--text .button {
    text-align: center;
    width: 100%;
  }
}
.main__philosophy--text .button a {
  border: 1px solid #fff;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .main__philosophy--text .button a {
    display: block;
    width: 100%;
  }
}
.main__philosophy--image {
  height: 100%;
  width: 50%;
  background: url(../img/philosophy_bg.jpg) center/cover no-repeat;
}
@media screen and (max-width: 480px) {
  .main__philosophy--image {
    width: 100%;
  }
}

/*news*/
.main__news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
}
.main__news--title {
  display: flex;
  align-items: baseline;
  margin: 90px auto 20px;
  width: 90%;
  text-align: left;
  color: #000;
}
@media screen and (max-width: 480px) {
  .main__news--title {
    flex-direction: column;
    align-items: center;
    margin: 60px auto 30px;
  }
}
.main__news--title h1 {
  margin-right: 13px;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .main__news--title h1 {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .main__news--title h3 {
    font-size: 12px;
  }
}
.main__news--item {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .main__news--item {
    width: 100%;
    flex-wrap: wrap;
  }
}
.main__news--item li {
  width: 25%;
  margin-right: 30px;
}
@media screen and (max-width: 480px) {
  .main__news--item li {
    width: 45%;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.main__news--item a {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__news--item a img {
  margin: 10px auto 0;
}

.text {
  font-size: 15px;
}
.text p {
  margin: 10px auto;
  text-align: left;
}

/*instagram*/
.main__instagram {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.main__instagram--title {
  width: 90%;
  margin: 90px auto 20px;
}
@media screen and (max-width: 480px) {
  .main__instagram--title {
    width: 100%;
    margin: 60px auto 30px;
    padding: 0;
  }
}
.main__instagram--title h1 {
  padding: 10px;
  text-align: left;
  font-size: 24px;
  color: #000;
}
@media screen and (max-width: 480px) {
  .main__instagram--title h1 {
    text-align: center;
    font-size: 16px;
  }
}
.main__instagram--item {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .main__instagram--item {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
.main__instagram--item li {
  width: 25%;
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .main__instagram--item li {
    width: 45%;
  }
}

/************************
* footer
************************/
.footer {
  width: 100%;
  background-color: #242424;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
}
.footer__column h1 {
  font-size: 24px;
  text-align: center;
  margin: 70px auto 50px;
  color: #000;
}
@media screen and (max-width: 480px) {
  .footer__column h1 {
    font-size: 16px;
  }
}
.footer__column--map iframe {
  width: 100%;
}
.footer__column--text {
  width: 50%;
  margin: 40px auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}
@media screen and (max-width: 480px) {
  .footer__column--text {
    width: 70%;
    margin: 40px auto 60px;
    font-size: 14px;
  }
}
.footer__column--text li {
  display: flex;
  margin: 10px 0;
}
@media screen and (max-width: 480px) {
  .footer__column--text li {
    margin: 10px;
    flex-direction: column;
  }
}
.footer__column--text .about {
  flex: 1;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .footer__column--text .about {
    font-weight: bold;
  }
}
.footer__column--text .detail {
  flex: 2;
  text-align: left;
}
.footer__column--text p {
  margin: 10px auto;
}
@media screen and (max-width: 480px) {
  .footer__column--text p {
    margin: 5px auto;
  }
}
.footer__navi {
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .footer__navi {
    margin: 55px auto 20px;
    flex-direction: column;
  }
}
.footer__navi li {
  margin: 10px 10px 20px;
}
.footer__navi li a {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .footer__navi li a {
    font-size: 12px;
    text-align: center;
  }
}
.footer__contents {
  width: 86%;
  margin: 20px auto 0;
  display: flex;
  border-top: 1px solid #7c7c7c;
}
@media screen and (max-width: 480px) {
  .footer__contents {
    padding: 20px 0;
    display: flex;
  }
}
.footer__contents--icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  width: 120px;
}
@media screen and (max-width: 480px) {
  .footer__contents--icon {
    width: 60px;
  }
}
.footer__contents--icon img {
  width: 100%;
}
.footer__contents__copy {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .footer__contents__copy {
    font-size: 12px;
  }
}

/************************
* 共通パーツ
************************/
.button {
  width: 180px;
  margin: 30px auto 80px;
}
@media screen and (max-width: 480px) {
  .button {
    margin: 30px auto 60px;
  }
}
.button a {
  display: block;
  height: 100%;
  padding: 20px 0;
  border: 1px solid #000;
  text-align: center;
  color: #000;
}

/*追記*/
.slider {
  width: 80%;
  margin: 100px auto;
}
@media screen and (max-width: 480px) {
  .slider {
    margin: 0 auto;
  }
}

.slick-slide {
  margin: 0 20px;
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 0.1;
}/*# sourceMappingURL=style.css.map */