@charset "utf-8";
@import '_variables';

$color_black:#242424;
$color_gray:#f0f0f0;

/************************
* 初期設定
************************/
body{
    font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-weight: 500;
    letter-spacing : 0.04em;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    box-sizing: border-box;
  }
  img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  a {
    display: block;
    text-decoration: none;
  }


/************************
* header
************************/
.header{
    position:relative;
    width:100%;
    &__contents{
        display:flex;
        justify-content:space-between;
        background:rgba(0,0,0,.6);
        position:fixed;
        z-index:1;
        width:100%;
        @include mq("max","sm"){
            justify-content:space-around;
        }
        &--icon{
            display:flex;
            align-items:center;
            width:120px;
            @include mq("max","sm"){
                display:none;
            }
            img{
                width:100%;
            }
            a{
                display:block;
                @include mq("max","sm"){
                    display:none;
                }
            }
        }
        &--navi{
            display:flex;
            justify-content: center;
            align-items:center;
            li{
                height:100%;
                padding:30px 10px;
            }
            a{
                display:block;
                height:100%;
                display:flex;
                align-items:center;
                font-size:12px;
                color:#fff;
                @include mq("max","sm"){
                    font-size:12px;
                } 
            }
        }
    }
    &__image{
        height:800px;
        background:url("../img/mv.jpg") no-repeat center / cover;
        position:relative;
        @include mq("max","sm"){
            height:120vh;
        }
        &--logo{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:150px;
        }
    }
}


/************************
* main
************************/
.main{
    width:100%;
    &__philosophy{
        display:flex;
        height:700px;
        background-color:$color_black;
        color:#fff;
        @include mq("max","sm"){
            height:200vh;
            flex-direction:column;
        }
        &--text{
            margin:auto;
            @include mq("max","sm"){
                margin:60px auto;
            }
            h1{
                margin:40px 10px;
                font-size:25px;
                @include mq("max","sm"){
                    margin:0 auto;
                    font-size:18px;
                    text-align:center;
                }
            }
            p{
                margin:40px 10px;
                line-height:1.5em;
                @include mq("max","sm"){
                    font-size:12px;
                }
            }
            .button{
                margin-left:0;
                text-align:left;
                border:1px solid #fff;
                @include mq("max","sm"){
                    text-align:center;
                    width:100%;
                }
                a{
                    border:1px solid #fff;
                    color:#fff;
                    @include mq("max","sm"){
                        display:block;
                        width:100%;
                    }
                }
            }
        }
        &--image{
            height:100%;
            width:50%;
            background:url(../img/philosophy_bg.jpg) center/cover no-repeat;
            @include mq("max","sm"){
                width:100%;
            }
        }
    }
}


/*news*/
.main{
    &__news{
        display:flex;
        justify-content:center;
        flex-direction: column;
        background-color:$color_gray;
        &--title{
            display:flex;
            align-items:baseline;
            margin:90px auto 20px;
            width:90%;
            text-align:left;
            color:#000;
            @include mq("max","sm"){
                flex-direction:column;
                align-items:center;
                margin:60px auto 30px;
            }
            h1{
                margin-right:13px;
                font-size:24px;
                @include mq("max","sm"){
                    margin-right:0;
                    margin-bottom:10px;
                    font-size:16px;
                }
            }
            h3{
                @include mq("max","sm"){
                    font-size:12px;
                }
            }
        }
        &--item{
            width:90%;
            display:flex;
            margin:0 auto;
            @include mq("max","sm"){
                width:100%;
                flex-wrap: wrap;
            }
            li{
                width:25%;
                margin-right:30px;
                @include mq("max","sm"){
                    width:45%;
                    margin-right:10px;
                    margin-left:10px;
                }
            }
            a{
                display:block;
                height:100%;
                width:100%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                img{
                    margin:10px auto 0;
                }
            }
        }
    }
}

.text{
    font-size:15px;
    p{
        margin:10px auto;
        text-align:left;
    }
}


/*instagram*/
.main__instagram{
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    &--title{
        width:90%;
        margin:90px auto 20px;
        @include mq("max","sm"){
            width:100%;
            margin:60px auto 30px;
            padding:0;
        }
        h1{
            padding:10px;
            text-align:left;
            font-size:24px;
            color:#000;
            @include mq("max","sm"){
                text-align:center;
                font-size:16px;
            }
        }
    }
    &--item{
        width:90%;
        display:flex;
        margin:0 auto;
        @include mq("max","sm"){
            width:100%;
            flex-wrap:wrap;
            margin:0 auto;
        }
        li{
            width:25%;
            margin:10px;
            @include mq("max","sm"){
                width:45%;
            }
        }
    }
}


/************************
* footer
************************/
.footer{
    width:100%;
    background-color:$color_black;
    &__column{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:$color_gray;
        h1{
            font-size:24px;
            text-align:center;
            margin:70px auto 50px;
            color:#000;
            @include mq("max","sm"){
                font-size:16px;
            }
        }
        &--map{
            iframe{
                width:100%;
            }
        }
        &--text{
            width:50%;
            margin:40px auto 80px;
            display:flex;
            flex-direction: column;
            justify-content:center;
            color:#000;
            @include mq("max","sm"){
                width:70%;
                margin:40px auto 60px;
                font-size:14px;
            }
            li{
                display:flex;
                margin:10px 0;
                @include mq("max","sm"){
                    margin:10px;
                    flex-direction:column;
                }
            }
            .about{
                flex:1;
                text-align:left;
                @include mq("max","sm"){
                    font-weight:bold;
                }
            }
            .detail{
                flex:2;
                text-align:left;
            }
            p{
                margin:10px auto;
                @include mq("max","sm"){
                    margin:5px auto;
                }
            }
        }
    }
    &__navi{
        width:100%;
        margin:20px auto 0;
        display:flex;
        justify-content: center;
        @include mq("max","sm"){
            margin:55px auto 20px;
            flex-direction:column;
        }
        li{
            margin:10px 10px 20px;
            a{
                color:#fff;
                @include mq("max","sm"){
                    font-size:12px;
                    text-align:center;
                }
            }
        }
    }
    &__contents{
        width:86%;
        margin:20px auto 0;
        display:flex;
        border-top:1px solid #7c7c7c;
        @include mq("max","sm"){
            padding:20px 0;
            display:flex;
        }
        &--icon{
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-right:auto;
            width:120px;
            @include mq("max","sm"){
                width:60px;
            }
            img{
                width:100%;
            }
        }
        &__copy{
            margin-right:0;
            margin-left:auto;
            display:flex;
            align-items:center;
            color:#fff;
            @include mq("max","sm"){
                font-size:12px;
            }
        }
    }
}


/************************
* 共通パーツ
************************/
.button{
    width:180px;
    margin:30px auto 80px;
    @include mq("max","sm"){
        margin:30px auto 60px;
    }
    a{
        display:block;
        height:100%;
        padding:20px 0;
        border:1px solid #000;
        text-align:center;
        color:#000;
    }
}


/*追記*/
.slider{
    width:80%;
    margin:100px auto;
    @include mq("max","sm"){
        margin:0 auto;
    }
}
.slick-slide{
    margin:0 20px;
    transition:all ease-in-out .3s;
    opacity:.2;
    img{
        width:100%;
    }
}

.slick-prev:before,
.slick-next:before{
    color:black;
}
.slick-active{
    opacity:.5;
}
.slick-current{
    opacity:.1;
}